<app-toolbar></app-toolbar>

<div class="order-success-container">
    
    <p class="order-success-head">Order placed successfully</p>
    <p class="order-success-content">Hurray!!! Your order is confirmed, the order id is #123456. Save the order id for
        further communication.</p>
    <div class="order-success-table">
        <table>
            <thead>
                <th class="table-email">Email us</th>
                <th class="table-contact-us">Contact us</th>
                <th class="table-address">Address</th>
            </thead>
            <tbody>
                <tr>
                    <td>admin&#64;bookstore.com</td>
                    <td>+91 8163475881</td>
                    <td>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout,
                        Bangalore 560034</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button class="blue-button">CONTINUE SHOPPING</button>
    </div>
    
</div>

<app-footer></app-footer>