<div class="top-section">
    <div class="combine">
        <div>
        <img src="education@2x.png" alt="Book Picture">
        </div>
        <div>

        <span>Bookstore</span>
        </div>
    </div>
</div>

<div class="forgot-password-container">
  <h2>Forgot Your Password?</h2>

  <mat-card class="form-card">
    <div class="inner">
    <p>Enter your email address and we’ll send you a link to reset your password.</p>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      
      <label for="email">Email Id</label>
      <br>
      <input  type="email" formControlName="email" id="email">
 

      <button mat-raised-button color="primary" class="reset-btn" type="submit" [disabled]="forgotPasswordForm.invalid">
        Reset Password
      </button>
    </form>
    </div>
  </mat-card>
<mat-card class="card-section">
  <div class="create-account">
    <button mat-button (click)="goToCreateAccount()">CREATE ACCOUNT</button>
  </div>
  </mat-card>
</div>

