.container {
  display: flex;
  justify-content: center;   /* Horizontal center */
  align-items: center;       /* Vertical center */
  height: 85vh;             /* Full viewport height */
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner h1{
    margin:0;
    margin-bottom: 8px;
}

.inner p{
 margin:0;
 margin-bottom: 30px;
 color:#9D9D9D;
}

.inner button{
    color:#A03037;
    background-color: #FFF;
    border: 1px solid #A03037;
    padding:7px 15px;
}