<div class="container">
  <div class="top">
    <div class="top-section">
      <h2>Books</h2>
      
    </div>
  </div>
  <div class="bottom">
<div>
<mat-card class="book-card">
   <img mat-card-image src="Image 13@2x.png" alt="Lean UX"  fix-content/>
 <mat-card-content>
    <div class="book-title">Don't Make Me Think</div>
    <div class="book-author">by Steve Krug</div>
<div class="rating-container">
      <button mat-raised-button color="primary" class="rating-button">4.5 ★</button>
      <span class="rating-count">(20)</span>
    </div>

    <div class="price-container">
      <span class="current-price">Rs. 1500</span>
      <span class="original-price">Rs. 2000</span>
    </div>
  </mat-card-content>
  
</mat-card>
</div>
<div>
<mat-card class="book-card">
   <img mat-card-image src="Image 13@2x.png" alt="Lean UX"  fix-content/>
 <mat-card-content>
    <div class="book-title">Don't Make Me Think</div>
    <div class="book-author">by Steve Krug</div>
<div class="rating-container">
      <button mat-raised-button color="primary" class="rating-button">4.5 ★</button>
      <span class="rating-count">(20)</span>
    </div>

    <div class="price-container">
      <span class="current-price">Rs. 1500</span>
      <span class="original-price">Rs. 2000</span>
    </div>
  </mat-card-content>
  
</mat-card>
</div>
<div>
<mat-card class="book-card">
   <img mat-card-image src="Image 13@2x.png" alt="Lean UX"  fix-content/>
 <mat-card-content>
    <div class="book-title">Don't Make Me Think</div>
    <div class="book-author">by Steve Krug</div>
<div class="rating-container">
      <button mat-raised-button color="primary" class="rating-button">4.5 ★</button>
      <span class="rating-count">(20)</span>
    </div>

    <div class="price-container">
      <span class="current-price">Rs. 1500</span>
      <span class="original-price">Rs. 2000</span>
    </div>
  </mat-card-content>
  
</mat-card>
</div>
<div>
<mat-card class="book-card">
   <img mat-card-image src="Image 13@2x.png" alt="Lean UX"  fix-content/>
 <mat-card-content>
    <div class="book-title">Don't Make Me Think</div>
    <div class="book-author">by Steve Krug</div>
<div class="rating-container">
      <button mat-raised-button color="primary" class="rating-button">4.5 ★</button>
      <span class="rating-count">(20)</span>
    </div>

    <div class="price-container">
      <span class="current-price">Rs. 1500</span>
      <span class="original-price">Rs. 2000</span>
    </div>
  </mat-card-content>
  
</mat-card>
</div>
<div>
<mat-card class="book-card">
   <img mat-card-image src="Image 13@2x.png" alt="Lean UX"  fix-content/>
 <mat-card-content>
    <div class="book-title">Don't Make Me Think</div>
    <div class="book-author">by Steve Krug</div>
<div class="rating-container">
      <button mat-raised-button color="primary" class="rating-button">4.5 ★</button>
      <span class="rating-count">(20)</span>
    </div>

    <div class="price-container">
      <span class="current-price">Rs. 1500</span>
      <span class="original-price">Rs. 2000</span>
    </div>
  </mat-card-content>
  
</mat-card>
</div>
<div>
<mat-card class="book-card">
   <img mat-card-image src="Image 13@2x.png" alt="Lean UX"  fix-content/>
 <mat-card-content>
    <div class="book-title">Don't Make Me Think</div>
    <div class="book-author">by Steve Krug</div>
<div class="rating-container">
      <button mat-raised-button color="primary" class="rating-button">4.5 ★</button>
      <span class="rating-count">(20)</span>
    </div>

    <div class="price-container">
      <span class="current-price">Rs. 1500</span>
      <span class="original-price">Rs. 2000</span>
    </div>
  </mat-card-content>
  
</mat-card>
</div>
<div>
<mat-card class="book-card">
   <img mat-card-image src="Image 13@2x.png" alt="Lean UX"  fix-content/>
 <mat-card-content>
    <div class="book-title">Don't Make Me Think</div>
    <div class="book-author">by Steve Krug</div>
<div class="rating-container">
      <button mat-raised-button color="primary" class="rating-button">4.5 ★</button>
      <span class="rating-count">(20)</span>
    </div>

    <div class="price-container">
      <span class="current-price">Rs. 1500</span>
      <span class="original-price">Rs. 2000</span>
    </div>
  </mat-card-content>
  
</mat-card>
</div>

<div>
<mat-card class="book-card">
   <img mat-card-image src="Image 13@2x.png" alt="Lean UX"  fix-content/>
 <mat-card-content>
    <div class="book-title">Don't Make Me Think</div>
    <div class="book-author">by Steve Krug</div>
<div class="rating-container">
      <button mat-raised-button color="primary" class="rating-button">4.5 ★</button>
      <span class="rating-count">(20)</span>
    </div>

    <div class="price-container">
      <span class="current-price">Rs. 1500</span>
      <span class="original-price">Rs. 2000</span>
    </div>
  </mat-card-content>
  
</mat-card>
</div>

<div>
<mat-card class="book-card">
   <img mat-card-image src="Image 13@2x.png" alt="Lean UX"  fix-content/>
 <mat-card-content>
    <div class="book-title">Don't Make Me Think</div>
    <div class="book-author">by Steve Krug</div>
<div class="rating-container">
      <button mat-raised-button color="primary" class="rating-button">4.5 ★</button>
      <span class="rating-count">(20)</span>
    </div>

    <div class="price-container">
      <span class="current-price">Rs. 1500</span>
      <span class="original-price">Rs. 2000</span>
    </div>
  </mat-card-content>
  
</mat-card>
</div>


<div>
<mat-card class="book-card">
   <img mat-card-image src="Image 13@2x.png" alt="Lean UX"  fix-content/>
 <mat-card-content>
    <div class="book-title">Don't Make Me Think</div>
    <div class="book-author">by Steve Krug</div>
<div class="rating-container">
      <button mat-raised-button color="primary" class="rating-button">4.5 ★</button>
      <span class="rating-count">(20)</span>
    </div>

    <div class="price-container">
      <span class="current-price">Rs. 1500</span>
      <span class="original-price">Rs. 2000</span>
    </div>
  </mat-card-content>
  
</mat-card>
</div>

<div>
<mat-card class="book-card">
   <img mat-card-image src="Image 13@2x.png" alt="Lean UX"  fix-content/>
 <mat-card-content>
    <div class="book-title">Don't Make Me Think</div>
    <div class="book-author">by Steve Krug</div>
<div class="rating-container">
      <button mat-raised-button color="primary" class="rating-button">4.5 ★</button>
      <span class="rating-count">(20)</span>
    </div>

    <div class="price-container">
      <span class="current-price">Rs. 1500</span>
      <span class="original-price">Rs. 2000</span>
    </div>
  </mat-card-content>
  
</mat-card>
</div>

<div>
<mat-card class="book-card">
   <img mat-card-image src="Image 13@2x.png" alt="Lean UX"  fix-content/>
 <mat-card-content>
    <div class="book-title">Don't Make Me Think</div>
    <div class="book-author">by Steve Krug</div>
<div class="rating-container">
      <button mat-raised-button color="primary" class="rating-button">4.5 ★</button>
      <span class="rating-count">(20)</span>
    </div>

    <div class="price-container">
      <span class="current-price">Rs. 1500</span>
      <span class="original-price">Rs. 2000</span>
    </div>
  </mat-card-content>
  
</mat-card>
</div>
  </div>
</div>

